img {
    width: 100%;
}

.w-100 {
    width: 100%;
}

.bg-green-top {
    background-color: #009432;
}

.bg-green-bot {
    background-color: #02842e;
}

.fz-05rem {
    font-size: 0.5rem;
}

.fz-075rem {
    font-size: 0.75rem;
}

.fz-1rem {
    font-size: 1rem;
}

.fz-175rem {
    font-size: 1.75rem;
}

.fz-2rem {
    font-size: 2rem;
}

.fz-11 {
    font-size: 11px;
}

.fz-13 {
    font-size: 13px;
}

.fz-14 {
    font-size: 14px;
}

.fz-16 {
    font-size: 16px;
}

.fz-30 {
    font-size: 30px;
}

.fw-100 {
    font-weight: 100;
}

.fw-200 {
    font-weight: 200;
}

.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.fw-900 {
    font-weight: 900;
}

a {
    color: #555;
}

a:hover {
    text-decoration: none;
}

.line-height-15 {
    line-height: 1.5;
}

.border-radius-tr-50px {
    border-top-right-radius: 50px;
}

.border-radius-tl-50px {
    border-top-left-radius: 50px;
}

.border-radius-bl-50px {
    border-bottom-left-radius: 50px;
}

.border-radius-br-50px {
    border-bottom-right-radius: 50px;
}

.border-radius-50px {
    border-radius: 50px;
}