/*STYLE*/
/*FONTS*/
@font-face {
  font-family: 'Roboto Black';
  src: url("../../fonts/Roboto-Black.ttf");
}

@font-face {
  font-family: 'Roboto Bold';
  src: url("../../fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: 'Roboto Italic';
  src: url("../../fonts/Roboto-Italic.ttf");
}

@font-face {
  font-family: 'Roboto Light';
  src: url("../../fonts/Roboto-Light.ttf");
}

@font-face {
  font-family: 'Roboto Medium';
  src: url("../../fonts/Roboto-Medium.ttf");
}

@font-face {
  font-family: 'Roboto Regular';
  src: url("../../fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: 'Roboto Thin';
  src: url("../../fonts/Roboto-Thin.ttf");
}

.logo {
  width: 82px;
  height: 82px;
}

.search {
  position: relative;
}

.search .search-btn {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
}

.cart {
  position: relative;
}

.cart i {
  position: absolute;
  top: 0;
  left: 25%;
}

.cart span {
  position: absolute;
  top: -7px;
  right: 13px;
  background: #f68110;
  border-radius: 50px;
  padding: 4px 6px;
  font-size: 13px;
}

#wrapper {
  min-height: 500px;
}

#content {
  margin-top: 30px;
}

#content .nav-link {
  color: #111;
  background-color: transparent;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

#content .nav-link.active {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: #80bb34;
  border-bottom: 1px solid #80bb34;
}

#content .box-product {
  position: relative;
}

#content .box-product .product-thumb {
  position: absolute;
  top: 0;
  left: 0;
}

#content .box-product .product-thumb .sale {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #e0280f;
  z-index: 1000;
}

#content .box-product .product-thumb img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}

.tab-content {
  position: relative;
}

.owl-nav {
  position: absolute;
  top: 8.5em;
  left: 0;
  width: 100%;
}

#owl-demo .item {
  background: #3fbf79;
  padding: 30px 0px;
  margin: 10px;
  color: #FFF;
  border-radius: 3px;
  text-align: center;
}

.customNavigation {
  text-align: center;
}

.customNavigation a {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.owl-next {
  top: 22%;
  right: 0%;
  position: absolute;
  color: white !important;
  /* font-size: 1.5em; */
  width: 20px;
  height: 20px;
  background-color: gray !important;
  border-radius: 50px !important;
  opacity: 0.5;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  z-index: 1000;
}

.owl-next:hover {
  opacity: 1;
}

.owl-next span {
  position: absolute;
  font-size: 1.5em;
  top: -6px;
  left: 6px;
}

.owl-prev {
  top: 22%;
  left: 0%;
  position: absolute;
  color: white !important;
  /* font-size: 1.5em; */
  width: 20px;
  height: 20px;
  background-color: gray !important;
  border-radius: 50px !important;
  opacity: 0.5;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  z-index: 1000;
}

.owl-prev:hover {
  opacity: 1;
}

.owl-prev span {
  position: absolute;
  font-size: 1.5em;
  top: -6px;
  left: 6px;
}

.owl-dots {
  display: none;
}

footer {
  min-height: 200px;
  background-color: #e9ecef;
}

footer #footer-bot {
  background-color: #dee2e6;
}

ul.marker li::before {
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: black;
  margin-bottom: 3px;
  border-radius: 50%;
}
/*# sourceMappingURL=style.css.map */