#wrapper {
    min-height: 500px;
}

#content {
    position: relative;
    margin-top: 30px;
    .nav-link {
        color: #111;
        background-color: transparent;
        transition: all 0.1s;
        &.active {
            transform: scale(1.2);
            color: $mainColor;
            border-bottom: 1px solid $mainColor;
        }
    }
    .box-product {
        width: 262px;
        height: 315px;
        .product-thumb {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 200px;
            padding: 5px;
            z-index: 1000;
            .sales {
                position: absolute;
                top: 0;
                left: 0;
                background-color: $saleColor;
                z-index: 1000;
                padding: 6px;
                color: white;
                border-bottom-right-radius: 10px;
                font-weight: 500;
                font-size: 15px;
            }
            img {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
                height: 100%;
            }
        }
        .buy-and-see {
            position: absolute;
            top: 25%;
            left: 33%;
            width: 37%;
            height: 10%;
            display: flex;
            justify-content: space-around;
            padding: 5px;
            a {
                position: absolute;
                &.bag {
                    top: 0;
                    left: 0;
                }
                &.eye {
                    top: 0;
                    right: 0;
                }
                z-index: 1000;
                i {
                    padding: 10px;
                    background-color: gray;
                    border: 1px solid #fff;
                    border-radius: 5px;
                    font-size: 1em;
                }
                &:hover i {
                    color: $mainColor!important;
                    background-color: #fefefe;
                    transition: all 0.2s;
                }
            }
            opacity: 0;
        }
        &:hover .buy-and-see {
            opacity: 0.8;
            z-index: 1000;
            transition: opacity, z-index 0.2s;
        }
    }
    .product-desc {
        position: absolute;
        bottom: 70px;
        left: 0;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2; // số dòng muốn hiển thị
        -webkit-box-orient: vertical;
        display: -webkit-box;
        z-index: 1001;
    }
    .product-price {
        position: absolute;
        bottom: 32px;
        left: 0;
        width: 100%;
        text-align: center;
        font-weight: 500;
        color: $mainColor;
        .product-old-price {
            color: #111;
            margin-left: 5px;
        }
    }
    #banner_2 .row .col a {
        display: block;
        border-radius: 17px;
        overflow: hidden;
    }
    #post {
        .box-title {
            position: relative;
            height: 36px;
            padding: 0px 13px;
            .post-line {
                position: absolute;
                top: 1em;
                left: 0;
                background-color: orange;
                height: 1px;
                width: 100%;
                padding: 1px;
            }
            .col-2 {
                position: absolute;
                top: 0;
                left: 28em;
            }
        }
        #post-content {
            .box-product {
                width: 360px;
                height: 410px;
                .product-desc {
                    bottom: 148px!important;
                }
                .product-desc-content {
                    position: absolute;
                    bottom: 90px;
                    left: 0;
                    text-align: center;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    -webkit-line-clamp: 2; // số dòng muốn hiển thị
                    -webkit-box-orient: vertical;
                    display: -webkit-box;
                    z-index: 1001;
                }
                button {
                    position: absolute;
                    bottom: 36px;
                    left: 38%;
                    border: none;
                    outline: none;
                    padding: 10px;
                    border-radius: 40px;
                    background-color: $mainColor;
                    color: white;
                    font-weight: 500;
                }
            }
        }
    }
}