#wrapper {
    min-height: 500px;
}

.carousel-control-prev {
    .carousel-control-prev-icon {
        background-color: #1c1d1c;
        color: white;
        background-size: 50%;
    }
}

.carousel-control-next {
    .carousel-control-next-icon {
        background-color: #1c1d1c;
        color: white;
        background-size: 50%;
    }
}