#wrapper {
    min-height: 500px;
}

#content {
    margin-top: 30px;
    .nav-link {
        color: #111;
        background-color: transparent;
        transition: all 0.1s;
        &.active {
            transform: scale(1.2);
            color: $mainColor;
            border-bottom: 1px solid $mainColor;
        }
    }
    .box-product {
        position: relative;
        .product-thumb {
            position: absolute;
            top: 0;
            left: 0;
            .sale {
                position: absolute;
                top: 0;
                left: 0;
                background-color: $saleColor;
                z-index: 1000;
            }
            img {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 999;
            }
        }
    }
}