footer {
    min-height: 200px;
    background-color: #e9ecef;
    #footer-bot {
        background-color: #dee2e6;
    }
}

ul.marker li::before {
    content: "";
    display: inline-block;
    width: 5px;
    height: 5px;
    background-color: black;
    margin-bottom: 3px;
    border-radius: 50%;
}